node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env*
.vercel
dist
**/.DS_Store


